.cart {
    width: 100%;
    margin: 5rem 0;
}

.cart ul {
    padding: 0;
    margin: 0;
}

.cart ul li {
    list-style-type: none;
    margin: 0 auto 2rem auto;
    text-align: center;
    background: white;
    width: 80%;
}

.cart ul li:hover{
    filter:drop-shadow(0px 0px 5px white);
    transition-duration: 0.2s;
}

.cart ul li .productBrand {
    font-family: Consolas, sans-serif;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 1px solid lightgray;
    color: darkblue;
    padding: 0.3rem 0;
}

.cart ul li .productActions {
    position: relative;
    z-index: 5;
}

.cart ul li .productModel,
.cart ul li .productSize,
.cart ul li .productInfo {
    font-family: Consolas, sans-serif;
    color: #000;
}

.cart ul li .productCount {
    background: white;
    color: darkblue;
    font-weight: bold;
    border-top: 1px solid lightgray;
    padding: 0.3rem 0;
}

.cart ul li .productPrice {
    background: white;
    text-align: center;
    color: darkblue;
    font-weight: bold;
    border-top: 1px solid lightgray;
    padding: 0.3rem 0;
}

.total-price {
    margin: 0 0 1rem 0;
}

.submit-order {
    border: 2px solid white;
    text-align: center;
    color: white;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 0 auto;
    width: 80%;
}

.cart.empty {
    margin-top: 5rem;
    margin-bottom: 0;
}

.inner-empty-cart {
    color: white;
    text-align: center;
}

.inner-empty-cart .body-text {
    letter-spacing: 3px;
}

.inner-empty-cart img {
    padding: 1rem;
}
